body {
  margin: 0;
  font-family: 'Figtree', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-nav:hover {
  background-color: var(--secondary);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-light {
  background-color: var(--primary);
}

.bg-dark {
  background-color: var(--blue);
}

.nav-link {
  color: var(--off-white);
}
.nav-link:hover {
  color: var(--beige);
}
.nav-link:focus {
  color: var(--yellow);
}


:root {
  --dark-blue: #2c3639;
  --blue: #3F4E4F;
  --yellow: #966844;
  --white: #fff;
  --gray: #C2C8C6;
  --beige: #DCD7C9;
  --off-white: #F6F5F1;
  --primary: #7dade0;
  --secondary: #6c757d;
  --success: #93bb9c;
  --info: #17a2b8;
  --warning: #d8a202;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: 'Figtree', sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
